<a href="/restaurants/new">Add a Restaurant</a>&emsp;
<a href="/restaurants">See All Restaurants</a>&emsp;
<a href="/users/new">Add a User</a>&emsp;
<a href="/users">See All Users</a>
<br><br>
<ul><%@all_users.each do |user| %>
<li><a href="/users/<%=user.id%>"> <%=user.name%></a></li>
<%end%></ul>
