<!doctype html>
<html>
  <head>
    <title>Sinatra Project Web!</title>
  </head>
  <body>
  <div>
<a href="/restaurants/new">Add a Restaurant </a><a href="/users/new">Add a User </a><a href="/restaurants/">See All Restaurants</a>
<%= yield %>

    </div>
  </body>
</html>