<a href="/restaurants/new">Add a Restaurant</a>&emsp;
<a href="/restaurants">See All Restaurants</a>&emsp;
<a href="/users/new">Add a User</a>&emsp;
<a href="/users">See All Users</a>
<br><br>
<h1>Sign Up!</h1><br>
<form action='/users' method='post'>
Name: <input type='text' name="name"><br>

<input type='submit' value='create'>
