<a href="/restaurants/new">Add a Restaurant</a>&emsp;
<a href="/restaurants">See All Restaurants</a>&emsp;
<a href="/users/new">Add a User</a>&emsp;
<a href="/users">See All Users</a>
<br><br>
<h1>Delete Restaurant</h1><br>
<form action="/restaurants/<%=@restaurant.id%>/delete" method='post'>
<input id="hidden" type="hidden" name="_method" value="delete">
Name: <%=@restaurant.name%><br>
<h2>Are you sure you want to delete this restaurant?</h2>
<input type='submit' value='delete?'>
</form>
