<a href="/restaurants/new">Add a Restaurant</a>&emsp;
<a href="/restaurants">See All Restaurants</a>&emsp;
<a href="/users/new">Add a User</a>&emsp;
<a href="/users">See All Users</a>
<br><br>
<ul><%@all_restaurants.each do |restaurant| %>
<li><a href="/restaurants/<%=restaurant.id%>"> <%=restaurant.name%></a></li>
<%end%></ul>
