<h1>Add a Restaurant</h1>

<form action='/restaurants' method='post'>
<p>Name: <input type='text' name='name'></p>
<p>Rating: <input type='float' name='rating'></p>
<p>Address: <input type='text' name='address'></p>
<input type='submit' value='submit'>
</form>
